language: php

php:
  - 7.3
  - 7.2

addons:
  chrome: stable

install:
  - cp .env.example .env
  - travis_retry composer install --no-interaction --prefer-dist --no-suggest
  - php artisan key:generate

before_script:
  - php artisan serve &

script:
  - php vendor/bin/codecept run
