:root {
  --main-green: #00ad50;
  --main-dark-green: #009444;
  --main-black: #212529;
  --main-white: #f8f9fa;
}

/* tamanho de fonte padrão dentro da classe container */
div.container,
header {
  font-family: 'Noto Sans HK', sans-serif;
}

div.container {
  text-align: center;
  font-size: 22px;
}

.form-group {
  text-align: start;
}

input[name='nome'] {
  text-transform: capitalize;
}

input[name='nome']::placeholder {
  text-transform: initial;
}

/* Remover o espaçamento da navbar */
nav.navbar {
  padding: 0;
}

/* Muda a cor de fundo da header */
header {
  background-color: #f4f4f4;
}

/* Barra de navegação do site */
.navbar-custom {
  background-color: var(--main-green);
}

/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
  color: var(--main-white);
}

/* Muda a cor e fonte dos links da navbar */
.navbar-custom .navbar-nav .nav-link, .nav-item.dropdown button {
  color: var(--main-white);
  font-size: 22px;
  font-style: normal;
  font-weight: bold;
}

/* Muda a cor e fonte dos links da dropdown de acesso */ 
.dropdown-menu a {
  color: var(--main-black);
  font-size: 22px;
  font-style: normal;

}

/* Centraliza verticalmente os links da navbar */
.nav-item {
  align-self: center;
}

/* Muda a cor do botao de expandir a navbar no celular */
.navbar .fas {
  color: var(--main-white);
}

/* Tamanho da fonte de todos os botoes */

a.btn, button.btn {
  font-weight: bold;
  background-color: var(--main-green);
  color: var(--main-white);
}

a.btn.btn-outline, button.btn.btn-outline {
  background-color: var(--main-white);
  color: var(--main-dark-green);
  border: 1px solid var(--main-green);
}

a.btn.btn-danger, button.btn.btn-danger {
  background-color: #dc3545;
}

a.btn:hover, button.btn:hover, .navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link, 
.nav-item.dropdown button:hover {
  background-color: var(--main-dark-green);
  color: var(--main-white);
}

.nav-item.dropdown button:hover {
  border-radius: 0;
}

a.btn.btn-danger:hover, button.btn.btn-danger:hover {
  background-color: #bd2a39;
}

.btn.btn-link {
  all: unset;
  font-size: 22px;
  background-color: var(--main-white);
  color: #007bff;
  padding: 0 0.5rem;
}

.btn.btn-link:hover {
  background-color: var(--main-white);
  color: #0056b3;
  text-decoration: underline;
}


/* Pagina dos detalhes da visita */
div.container div.visita-detalhes {
  text-align: start;
  border-radius: 10px;
}

div.container div.visita-msg {
  padding: 1em;
  text-align: start;
  border: 1px solid var(--main-green);
  border-radius: 10px;
}

/* cards da pagina logado */
.card.manage{
  cursor: pointer;
  width: 10em;
  margin: 0 0.5rem 0.5rem;
  background-color: var(--main-white);
}

.card.manage:hover {
  background-color: #f5f5f5;
}

.card.manage div.card-header span {
  font-size: 1.5em;
}

.card.manage a.btn, button.btn {
  font-size: 16px;
  font-weight: bold;
}

.card.manage div.card-header, .card div.card-footer {
  background-color: var(--main-white);
  border: 0;
  padding: 0.5em 0;
}

.card.manage div.card-body {
  padding: 0;
}

a.clickable-card, a:hover.clickable-card {
  color: var(--main-black);
  text-decoration: none;
}
/* Fim de cards da pagina logado */

/* Atlas */

ul {
  padding: 0;
}
/* Fim de Atlas */

/* Zoom no atlas */
#overlay{
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background: rgba(0, 0, 0, 0.8) none 50% / contain no-repeat;
  cursor: pointer;
  transition: 0.3s;
  
  visibility: hidden;
  opacity: 0;
}
#overlay.open {
  visibility: visible;
  opacity: 1;
  z-index: 999;
}

#overlay:after { /* X button icon */
  content: "\2715";
  position: absolute;
  color: var(--main-white);
  top: 10px;
  right:20px;
  font-size: 2em;
}
/* Fim de Zoom no atlas */

/* Links ativos do bootstrap */

a.page-link {
  color: #495057;
}

a:hover.page-link {
  color: #495057;
}

.list-group .list-group-item.active, li.page-item.active .page-link, span.badge-primary {
  color: var(--main-white);
  font-weight: bold;
  background-color: var(--main-green);
  border: 1px solid var(--main-green);
}

/* Fim de links ativos do bootstrap */


/* Sidebar da esquerda de Atlas */
#paginasAtlas, #paginasMateriais {
  padding: 0 0 0 1.5em;
}

#paginasAtlas a, #paginasMateriais a {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#leftSidebar.show {
  height: 100%;
  width: 270px;
  background-color: var(--main-white);
  z-index: 998;
}

#toggleLeftSidebar {
  z-index: 999;
}

#toggleLeftSidebar .btn {
  border-radius: 0 5px 5px 0;
  color: var(--main-white);
}

#toggleLeftSidebar.push {
  left: 270px;
}

/* Sidebar da esquerda de Atlas */

/* inicio de lista de materiais */
.material-group.list-group-item.list-group-item-action {
  display: flex;
  padding: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.material-group.list-group-item.list-group-item-action.header {
  padding: 1rem;
  justify-content: space-around;

}

.item {
  display: block;
  color: #555;
  text-decoration: none;
  text-align: center;
  background-color: transparent;
  border: none;
  padding: 1rem;
  align-self: flex-start;
  width: 50%;
}

.item:hover {
  color: var(--main-black);
  text-decoration: none;
  background-color: #eee;
}

.disciplina-atla-item {
  width: 100%;
}

  
/* fim de lista de materiais */


/* carrosel de postagens */

.carousel-item {
  position: relative;
  height: 400px;
}

.carousel-item img {
  position: absolute;
}

.carousel-item a.carousel-caption {
  position: absolute;
  right: 0%;
  bottom: 0;
  left: 0%;
  padding: 2em;
  background-color: rgba(0, 0, 0, 0.8);
  color: var(--main-white);
  cursor: pointer;
}

.carousel-item a:hover.carousel-caption {
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.6);
  transition: background-color 250ms ease-in-out;
}

.carousel-control-next span, .carousel-control-prev span{
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.8);
}
/* fim de carrosel de postagens */

/* pagina de postagem */
.text {
  text-align: left;
}

.text-footer {
  font-size: 1rem;
  text-align: left;
}

#postagens .img {
  position: relative;
  height: 150px;
  width: 200px;
  overflow: hidden;
}

#postagens .img-fluid {
  position: absolute;
  width: 100%;
  left: 0;
}
#usuarios.img {
  position: relative;
  height: 200px;
  width: 200px;
  overflow: hidden;
}

#usuarios .img-fluid {
  position: relative;
  left: 0;
  
}

/* Footer */
section {
  padding: 30px 0 0 0;
}

section .section-title {
  text-align: center;
  margin-bottom: 50px;
  text-transform: uppercase;
}

#footer {
  background: var(--main-green);
}

#footer p{
  padding: 0 0 1em 0;
  margin: 0;
  font-size: 1rem;
  color: var(--main-white);
  text-decoration: none;
  background-color: transparent;
}

#footer h5 {
  margin: 0 0 0.75em 0;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--main-white);
}

#footer a {
  font-size: 1rem;
  color: var(--main-white);
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

#footer i {
  font-size: 2rem;
  padding: 0.5em 1em;
}

#footer ul.quick-links li:hover{
  text-decoration: underline;
  color: var(--main-white);
}

#footer ul.quick-links li a i{
  margin-right: 5px;
}

#footer ul.quick-links li:hover a i {
  font-weight: 200;
}

@media only screen and (max-width: 767px) {
  #postagens .img {
    width: 100%;
  }
  #usuarios .img {
    width: 100%;
  }
  
}
