/* tamanho de fonte padrão dentro da classe container */
div.container {
    text-align: center;
    font-size: 22px;
}

.form-group {
    text-align: start;
}

/* Remover o espaçamento da navbar */
nav.navbar {
    padding: 0;
}

/* Muda a cor de fundo da header */
header {
    background-color: #f4f4f4;
}

/* Barra de navegação do site */
.navbar-custom {
    background-color: #00c853;
}

/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgba(255,255,255,.8);
}

/* Muda a cor e fonte dos links da navbar */
.navbar-custom .navbar-nav .nav-link, .nav-item.dropdown button {
    color: #FFFFFF;
    font-size: 22px;
    font-style: normal;
    font-weight: bold;
}

/* Muda a cor e fonte dos links da dropdown de acesso */ 
.dropdown-menu a {
    color: #000000;
    font-size: 22px;
    font-style: normal;

}

/* Centraliza verticalmente os links da navbar */
.nav-item {
    align-self: center;
}

/* Muda a cor do botao de expandir a navbar no celular */
.navbar .fas {
    color: #FFFFFF;
}

/* Tamanho da fonte de todos os botoes */
a.btn, button.btn {
    font-size: 22px;
    background-color: #00c853;
    color: #FFFFFF;
}

a.btn.btn-danger, button.btn.btn-danger {
    background-color: #dc3545;
}

a.btn:hover, button.btn:hover, .navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link, 
.nav-item.dropdown button:hover {
    background-color: #28a745;
    color: #FFFFFF;
}

.nav-item.dropdown button:hover {
    border-radius: 0;
}

a.btn.btn-danger:hover, button.btn.btn-danger:hover {
    background-color: #bd2a39;
}

/* Pagina dos detalhes da visita */
div.container div.visita-detalhes {
    text-align: start;
    border-radius: 10px;
}

div.container div.visita-msg {
    padding: 1em;
    text-align: start;
    border: 1px solid #00c853;
    border-radius: 10px;
}

/* cards da pagina logado */
.card {
    cursor: pointer;
    width: 10em;
    margin: 0 0.5rem 0.5rem;
}

.card:hover {
    background-color: #f5f5f5;
}

.card div.card-header span {
    font-size: 1.5em;
}

.card a.btn, button.btn {
    font-size: 16px;
    font-weight: bold;
}

.card div.card-header, .card div.card-footer {
    background-color: #ffffff00;
    border: 0;
    padding: 0.5em 0;
}

.card div.card-body {
    padding: 0;
}

a.clickable-card, a:hover.clickable-card {
    color: #000;
    text-decoration: none;
}