/* tamanho de fonte padrão dentro da classe container */
div.container {
    text-align: center;
    font-size: 22px;
}

.form-group {
    text-align: start;
}

input[name='nome'] {
    text-transform: capitalize;
}

input[name='nome']::placeholder {
    text-transform: initial;
}

/* Remover o espaçamento da navbar */
nav.navbar {
    padding: 0;
}

/* Muda a cor de fundo da header */
header {
    background-color: #f4f4f4;
}

/* Barra de navegação do site */
.navbar-custom {
    background-color: #00c853;
}

/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgba(255,255,255,.8);
}

/* Muda a cor e fonte dos links da navbar */
.navbar-custom .navbar-nav .nav-link, .nav-item.dropdown button {
    color: #FFFFFF;
    font-size: 22px;
    font-style: normal;
    font-weight: bold;
}

/* Muda a cor e fonte dos links da dropdown de acesso */ 
.dropdown-menu a {
    color: #000000;
    font-size: 22px;
    font-style: normal;

}

/* Centraliza verticalmente os links da navbar */
.nav-item {
    align-self: center;
}

/* Muda a cor do botao de expandir a navbar no celular */
.navbar .fas {
    color: #FFFFFF;
}

/* Tamanho da fonte de todos os botoes */
a.btn, button.btn {
    font-size: 22px;
    background-color: #00c853;
    color: #FFFFFF;
}

a.btn.btn-danger, button.btn.btn-danger {
    background-color: #dc3545;
}

a.btn:hover, button.btn:hover, .navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link, 
.nav-item.dropdown button:hover {
    background-color: #28a745;
    color: #FFFFFF;
}

.nav-item.dropdown button:hover {
    border-radius: 0;
}

a.btn.btn-danger:hover, button.btn.btn-danger:hover {
    background-color: #bd2a39;
}

.btn.btn-link {
    all: unset;
    font-size: 22px;
    background-color: #ffffff00;
    color: #007bff;
    padding: 0 0.5rem;
}

.btn.btn-link:hover {
    background-color: #ffffff00;
    color: #0056b3;
    text-decoration: underline;
}


/* Pagina dos detalhes da visita */
div.container div.visita-detalhes {
    text-align: start;
    border-radius: 10px;
}

div.container div.visita-msg {
    padding: 1em;
    text-align: start;
    border: 1px solid #00c853;
    border-radius: 10px;
}

/* cards da pagina logado */
.card.manage{
    cursor: pointer;
    width: 10em;
    margin: 0 0.5rem 0.5rem;
}

.card.manage:hover {
    background-color: #f5f5f5;
}

.card.manage div.card-header span {
    font-size: 1.5em;
}

.card.manage a.btn, button.btn {
    font-size: 16px;
    font-weight: bold;
}

.card.manage div.card-header, .card div.card-footer {
    background-color: #ffffff00;
    border: 0;
    padding: 0.5em 0;
}

.card.manage div.card-body {
    padding: 0;
}

a.clickable-card, a:hover.clickable-card {
    color: #000;
    text-decoration: none;
}
/* Fim de cards da pagina logado */

/* Atlas */

ul {
    padding: 0;
}
/* Fim de Atlas */

/* Zoom no atlas */
#overlay{
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background: rgba(0,0,0,0.8) none 50% / contain no-repeat;
  cursor: pointer;
  transition: 0.3s;
  
  visibility: hidden;
  opacity: 0;
}
#overlay.open {
  visibility: visible;
  opacity: 1;
  z-index: 999;
}

#overlay:after { /* X button icon */
  content: "\2715";
  position: absolute;
  color:#fff;
  top: 10px;
  right:20px;
  font-size: 2em;
}
/* Fim de Zoom no atlas */

/* Links ativos do bootstrap */

a.page-link {
    color: #495057;
}

a:hover.page-link {
    color: #495057;
}

.list-group .list-group-item.active, li.page-item.active .page-link, span.badge-primary {
    color: #fff;
    font-weight: bold;
    background-color: #00c853;
    border: 1px solid #00c853;
}

/* Fim de links ativos do bootstrap */


/* Sidebar da esquerda */
#paginasAtlas {
    padding: 0 0 0 1.5em; 
}

#paginasAtlas a {
    overflow:hidden; 
    white-space: nowrap;
    text-overflow: ellipsis;
}

#leftSidebar.show {
    height: 100%;
    width: 270px;
    background-color: #fff;
    z-index: 998;
}

#toggleLeftSidebar {
    z-index: 999;
}

#toggleLeftSidebar .btn {
    border-radius: 0 5px 5px 0; 
    color: #fff;
}

#toggleLeftSidebar.push {
    left: 270px;
}

/* Sidebar da esquerda */

/* inicio de lista de materiais */
.list-group-item.material-group {
    display: flex; 
    justify-content:space-around; 
    padding:0;
}

.material-group.header {
    padding: 1rem;
}
  
.material-item {
    color: #555;
    text-decoration: none;
    text-align: center;
    background-color: transparent;
    width: 50%;
    padding: 1rem;
}
  
.material-item:hover {
    color: #000;
    text-decoration: none;
    background-color: #eee;
}
  
/* fim de lista de materiais */


/* carrosel de postagens */

.carousel-item {
    position: relative;
    height: 400px;
}

.carousel-item img {
    position: absolute;
}

.carousel-item a.carousel-caption {
    position: absolute;
    right: 0%;
    bottom: 0;
    left: 0%;
    padding: 2em;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
}

.carousel-item a:hover.carousel-caption {
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.6);
    transition: background-color 250ms ease-in-out;
}

.carousel-control-next span, .carousel-control-prev span{
    padding: 1rem;
    background-color: rgba(0,0,0,0.8);
}
/* fim de carrosel de postagens */

/* pagina de postagem */
article .text {
    text-align: justify;
}

article .text-footer {
    font-size: 1rem;
}

#postagens .img {
    position: relative;
    height: 150px;
    width: 200px;
    overflow: hidden;
}

#postagens .img-fluid {
    position: absolute;
    width: 100%;
    left: 0;
}

/* fim de pagina de postagem */


@media only screen and (max-width: 600px) {
    #postagens .img {
        width: 100%;
    }
}