/* Sumario do documento por Vinicius Santos
  1- Estilos gerais
  2- Header e navegacao do site
  3- Postagens: noticias, eventos e editais
  4- Menu usuario logado
  5- Home do site
    5.1- Slide da home do site
    5.2- Cards de postagens do site
  6- Formularios do site
  7- Botoes do site
  8- Footer do site
  9- Estilo de alertas
  10- Estilos das tabelas do site
  11- Estilo do editor de texto Summernote
  12- Estilos do atlas
    12.1- Zoom no atlas
    12.2- Sidebar da esquerda de Atlas
    12.3- Lista de atlas e materiais
  13- Outros
    13.1- Cards de usuarios do sobre
    13.2- Pagina dos detalhes da visita
    13.3- Links ativos do bootstrap
  I- Animacoes keyframes
  II- Mediaqueries do site
*/

/* 1- Estilos gerais  */
:root {
  --main-green: #00ad50;
  --main-dark-green: #009444;
  --main-green-opacity-0-9: rgba(0, 173, 80, 0.9);
  --main-black: #212529;
  --main-white: #f8fafc;
  --main-light: #e8e8ee;
  --font-light: 300;
  --font-regular: 400;
  --font-bold: 600;
  --font-size-title: 2.375rem;
  --font-size-subtitle: 1.375rem;
  --font-size-text: 1.125rem;
  --font-size-info: 0.9375rem;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: var(--font-regular);
  font-size: 1rem;

}

h1, h2, h3, h4, h5, h6 {
  font-weight: var(--font-regular);
}

ul {
  padding: 0;
}

main .container {
  text-align: center;
  font-size: var(--font-size-text);
  padding: 1.5rem;
}

/* 2- Header e navegacao do site */
nav.navbar {
  padding: 0;
}

.acessibilidade * {
  margin-right: 10px;
  margin-left: 10px;
}

/* Largura da header */
header {
  max-width: 1140px;
  margin: 0 auto;
}

.navbar-custom {
  color: var(--main-white);
  background-color: var(--main-green);
}

a.btn:hover,
button.btn:hover,
input.btn:hover,
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link,
.nav-item.dropdown button:hover {
  transition: background-color 300ms ease-in-out;
  background-color: var(--main-dark-green);
  color: var(--main-white);
}

/* Muda a cor e fonte dos links da navbar */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text,
.navbar-custom .navbar-nav .nav-link,
.nav-item.dropdown button,
.dropdown-menu a {
  color: var(--main-white);
  font-size: var(--font-size-subtitle);
  font-style: normal;
  font-weight: var(--font-bold);
}

/* Centraliza verticalmente os links da navbar */
.nav-item {
  align-self: center;
}

.nav-item.dropdown button:hover {
  border-radius: 0;
}

/* Muda a cor do botao de expandir a navbar no celular */
.navbar .fas {
  color: var(--main-white);
}


/* Muda a cor e fonte dos links da dropdown de acesso */ 
.dropdown-menu a {
  color: var(--main-black);
  font-weight: var(--font-regular);
}

.dropdown-menu.dropdown-menu-anime {
  display: block;
  transform: scaleY(1);
}

/* Mostrar menu dropdown com animacao */
.js .dropdown-menu.dropdown-menu-anime {
  position: absolute;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 100ms ease-in-out;
}

.js .dropdown-menu.dropdown-menu-anime * {
  opacity: 0;
  transition: opacity 500ms;
}

.js .dropdown-menu.dropdown-menu-anime.show {
  transform: scaleY(1);
}

.js .dropdown-menu.dropdown-menu-anime.show * {
  opacity: 1;
}

/* Mostrar a navbar se o javascript estiver desabilitado */
.collapse:not(.show) {
  display: block;
}

.js .collapse:not(.show) {
  display: none;
}

/* 3- Postagens: noticias, eventos e editais */
form,
.postagem,
.alert {
  max-width: 760px;
  margin-left: auto;
  margin-right: auto;
}

.postagem {
  padding: 1em;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.25rem;
  text-align: left;
}

.postagem .img-fluid {
  height: 300px;
}

.postagem h1 {
  font-weight: var(--font-light);
  margin-bottom: var(--font-size-subtitle);
}

.postagem p {
  font-weight: var(--font-regular);
  font-size: 1.125rem;
  text-align: left;
}

.postagem .info {
  font-size: var(--font-size-info);
  font-style: italic;
}

.postagem .tag {
  color: var(--main-white);
  font-weight: var(--font-bold);
  padding: 5px;
  border-radius: 5px;
}

.postagem .tag.edital {
  background-color: blue;
}

.postagem .tag.noticia {
  background-color: red;
}

.postagem .tag.evento {
  background-color: var(--main-green);
}

/* Fim de 3- Postagens: noticias, eventos e editais */

/* 4- Menu usuario logado */
.card.manage{
  cursor: pointer;
  width: 13em;
  margin: 0 0.5rem 0.5rem;
  background-color: var(--main-white);
}

.card.manage:hover, 
.card.manage:hover .card-header, 
.card.manage:hover .card-footer {
  background-color: var(--main-light);
}

.card.manage div.card-header span {
  font-size: 1.5em;
}

.card.manage a.btn, button.btn {
  font-size: var(--font-size-info);
  font-weight: bold;
}

.card.manage div.card-header, .card div.card-footer {
  background-color: var(--main-white);
  border: 0;
  padding: 0.5em 0;
}

.card div.card-footer.event {
  background-color: var(--main-green);
  color: var(--white);
  font-weight: bold;
  font-size: 1rem;
}

.card.manage div.card-body {
  padding: 0;
}

a.clickable-card, a:hover.clickable-card {
  color: var(--main-black);
  text-decoration: none;
}

/* Fim de 4- Menu usuario logado */

/* 5- Home do site */

/* 5.1- Slide da home do site */
.carousel-item {
  position: relative;
  height: 350px;
}

.carousel-item img {
  position: absolute;
}

.carousel-item a.carousel-caption {
  position: absolute;
  right: 0%;
  bottom: 0;
  left: 0%;
  padding: 2em;
  background-color: rgba(0, 0, 0, 0.8);
  color: var(--main-white);
  cursor: pointer;
}

.carousel-item a:hover.carousel-caption {
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.6);
  transition: background-color 250ms ease-in-out;
}

.carousel-control-next span, .carousel-control-prev span{
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.8);
}

/* Fim de 5.1- Slide da home do site */

/* 5.2- Cards de postagens do site */
.home.card {
  font-size: 1rem;
  text-align: left;
  width: 20em;
  margin: 1em;
  align-self: flex-start;
}

.home.card div.card-header {
  height: 8em;
  overflow: hidden;
  padding: 0;
}

.home.card div.card-body {
  margin: 1em;
  padding: 0;
  overflow: hidden;
}

.home.card .card-footer {
  border-top: 1px solid var(--main-light);
  padding-left: 1em;
  font-size: 0.75rem;
}

/* Fim de 5.2- Cards de postagens do site */

/* Fim de 5- Home do site */

/* 6- Formularios do site */
.form-group {
  text-align: start;
}

input[name='nome'] {
  text-transform: capitalize;
}

input[name='nome']::placeholder {
  text-transform: initial;
}

.file-input {
  position: relative;
}

.file-label {
  position: absolute;
  bottom: -1px;
  width: 100%;
  background-color: var(--main-green);
  transition: background-color 250ms ease-in-out;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.file-label:hover {
  cursor: pointer;
  background-color: var(--main-green-opacity-0-9);
  transition: background-color 250ms ease-in-out;
}

.file-label p {
  color: var(--main-white);
}

.drive-input .info {
  font-size: 14px;
}

input[type="radio"] + label {
  cursor: pointer;
}

/* Opção bloqueada enquanto o sistema não é implantado no servidor da UFAPE */
input:disabled + label {
  position: relative;
  color: rgba(0, 0, 0, 0.6);
}

input:disabled + label:hover {
  cursor: not-allowed;
}

/* Aviso que a opção estará indisponível até que o sistema seja implantado no servidor da UFAPE */
input:disabled + label::before {
  content: "Indisponível até a implantação!";
  position: absolute;
  top: -30px;
  width: 350px;
  background-color: var(--main-white);
  color: var(--main-black);
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  opacity: 0;
  transition: opacity 350ms ease-in-out;
}

input:disabled + label:hover::before {
  opacity: 1;
  transition: opacity 350ms ease-in-out;
}

/* Mostrar campos de hora quando nao ha javascript habilitado */
.js .no-javascript {
  display: none;
}

/* Expandir campos de anexos */ 
#radio-group-anexo {
  position: relative;
  z-index: 1;
}

.form-group-anime {
  height: auto;
}

.input-anime {
  opacity: 1;
  display: block;
}

.js .form-group-anime {
  height: 0;
  transition: height 250ms ease-in-out;
}

.js .form-group-anime.show {
  height: 210px;
}

.js .input-anime {
  display: none;
}

.js .input-anime.show {
  display: block;
  animation: fadeInFromNone 500ms ease-in-out forwards;
}

/* Animação do seletor de evento */
.input-group-data-hora {
  display: block;
  opacity: 1;
}

.js .input-group-data-hora {
  animation: fadeOutToNoneHeight 250ms ease-in-out forwards;
}

.js .input-group-data-hora.show {
  animation: fadeInFromNoneHeight 250ms ease-in-out forwards;
}

/* Fim de 6- Formularios do site */

/* 7- Botoes do site */
a.btn, button.btn, input.btn {
  font-weight: var(--font-bold);
  background-color: var(--main-green);
  color: var(--main-white);
}

a.btn.btn-outline, button.btn.btn-outline, input.btn.btn-outline {
  background-color: var(--main-white);
  color: var(--main-dark-green);
  border: 1px solid var(--main-green);
}

a.btn.btn-danger, button.btn.btn-danger, input.btn.btn-danger {
  background-color: #dc3545;
}

a.btn.btn-danger:hover, button.btn.btn-danger:hover, input.btn.btn-danger:hover {
  background-color: #bd2a39;
}

.btn.btn-link {
  all: unset;
  font-size: var(--font-size-subtitle);
  background-color: var(--main-white);
  color: #007bff;
  padding: 0 0.5rem;
}

.btn.btn-link:hover {
  background-color: var(--main-white);
  color: #0056b3;
  text-decoration: underline;
}

/* Fim de 7- Botoes do site */

/* 8- Footer do site */
footer {
  padding-top: var(--font-size-subtitle);
  background: var(--main-green);
}

footer p {
  padding: 0 0 1em 0;
  margin: 0;
  font-size: 1rem;
  color: var(--main-white);
  text-decoration: none;
  background-color: transparent;
}

footer h5 {
  margin: 0 0 0.75em 0;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--main-white);
}

footer a,
footer a:visited {
  font-size: 1rem;
  color: var(--main-white);
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

footer a:hover {
  color: var(--main-white);
}

footer i {
  font-size: 2rem;
  padding: 0.5em 1em;
}

footer ul.quick-links li:hover{
  text-decoration: underline;
  color: var(--main-white);
}

footer ul.quick-links li a i{
  margin-right: 5px;
}

footer ul.quick-links li:hover a i {
  font-weight: 200;
}

footer .container .row div + div {
  border-left: 1px solid var(--main-white);
}

footer .container > p {
  text-align: center;
}

/* Fim de 8- Footer do site */

/* 9- Estilo de alertas */
.alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.alert.alert-success {
  border-color: var(--main-dark-green);
}

/* Fim de 9- Estilos de alertas */

/* 10- Estilos das tabelas do site */
.container .dataTables_length {
  text-align: left;
}

.dataTables_filter .form-control-sm, .dataTables_length .custom-select-sm {
  height: calc(1.5em + 1rem + 2px) !important;
}

thead tr th:first-child {
  width: 200px;
}

/* Fim de 10- Estilos das tabelas do site */

/* 11- Estilo do editor de texto Summernote */
.note-editor .btn {
  background-color: var(--main-white);
  color: var(--main-black);
}

/* Fim de 11- Estilo do editor de texto Summernote */

/* 12- Estilos do atlas */

/* 12.1- Zoom no atlas */
#overlay{
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background: rgba(0, 0, 0, 0.8) none 50% / contain no-repeat;
  cursor: pointer;
  transition: 0.3s;
  visibility: hidden;
  opacity: 0;
}
#overlay.open {
  visibility: visible;
  opacity: 1;
  z-index: 999;
}

#overlay:after { /* X button icon */
  content: "\2715";
  position: absolute;
  color: var(--main-white);
  top: 10px;
  right:20px;
  font-size: 2em;
}

/* Fim de 12.1- Zoom no atlas */

/* 12.2- Sidebar da esquerda de Atlas */
#paginasAtlas, #paginasMateriais {
  padding: 0 0 0 1.5em;
}

#paginasAtlas a, #paginasMateriais a {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#leftSidebar {
  overflow: auto;
  position: absolute;
  height: 100%;
  width: 270px;
  background-color: var(--main-white);
  z-index: 998;
  transform: translate3d(-270px, 0, 0);
  transition: transform 250ms ease-in-out;
}

#leftSidebar.show {
  transform: translate3d(0, 0, 0);
}

#toggleLeftSidebar {
  z-index: 999;
  top: 10px;
  transform: translate3d(0, 0, 0);
  transition: transform 250ms ease-in-out;
}

#toggleLeftSidebar .btn {
  border-radius: 0 5px 5px 0;
  color: var(--main-white);
}

#toggleLeftSidebar.push {
  transform: translate3d(270px, 0, 0);
}

/* Fim de 12.2- Sidebar da esquerda de Atlas */

/* 12.3- Lista de atlas e materiais */
.material-group.list-group-item.list-group-item-action {
  display: flex;
  padding: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.material-group.list-group-item.list-group-item-action.header {
  padding: 1rem;
  justify-content: space-around;
}

.material-group.list-group-item.list-group-item-action.header p {
  width: 100%;
  margin: 0;
}

.item {
  display: block;
  color: #555;
  text-decoration: none;
  text-align: center;
  background-color: transparent;
  border: none;
  padding: 1rem;
  align-self: flex-start;
  width: 50%;
}

.item:hover {
  color: var(--main-black);
  text-decoration: none;
  background-color: #eee;
}

.disciplina-atla-item {
  width: 100%;
}

/* Fim de 12.3- Lista de atlas e materiais */

/* Fim de 12- Estilos do atlas */

/* 13- Outros */

/* 13.1- Cards de usuarios do sobre */
.usuarios .img-fluid {
  position: relative;
  left: 0;
}

.pagination-container {
  overflow: auto;
}

/* Fim de 13.1- Cards de usuarios do sobre */

/* 13.2- Pagina dos detalhes da visita */
div.container div.visita-detalhes {
  text-align: start;
  border-radius: 10px;
}

div.container div.visita-msg {
  padding: 1em;
  text-align: start;
  border: 1px solid var(--main-green);
  border-radius: 10px;
}

/* Fim de 13.2- Pagina de detalhes da visita */

/* 13.3- Links ativos do bootstrap */
a.page-link {
  color: #495057;
}

a:hover.page-link {
  color: #495057;
}

.list-group .list-group-item.active, li.page-item.active .page-link, span.badge-primary {
  color: var(--main-white);
  font-weight: bold;
  background-color: var(--main-green);
  border: 1px solid var(--main-green);
}

/* Fim de 13.3- Links ativos do bootstrap */

/* I- Animacoes keyframes */
@keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  25% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

@keyframes fadeInFromNoneHeight {
  0% {
    opacity: 0;
    height: 0;
  }

  1% {
    opacity: 0;
    height: 0;
  }

  100% {
    opacity: 1;
    height: 230px;
  }
}

@keyframes fadeOutToNoneHeight {
  0% {
    opacity: 1;
    height: 230px;
    
  }

  99% {
    opacity: 0;
    height: 0;
  }

  100% {
    visibility: hidden;
    opacity: 0;
    height: 0;
  }
}

/* Fim de I- Animacoes keyframes */

/* II- Mediaqueries */
@media only screen and (max-width: 767px) {

  #postagens .img {
    width: 100%;
  }

  #usuarios .img {
    width: 100%;
  }
}

@media only screen and (min-width: 992px) {
  #leftSidebar {
    position: static;
    height: auto;
    transform: translate3d(0, 0, 0);
  }
}

@media only screen and (max-width: 575px) {
  
  footer .container .row div + div {
    border-left: none;
  }
}

/* Fim de II- Mediaqueries */